* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    height: 80px;
    background-color: #cbdeff;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 16px;
    padding: 24px 10%;
}

.footer {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fffddb;
}
