* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    height: 80px;
    background-color: #cbdeff;
}

.main {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    row-gap: 16px;
    padding: 24px 10%;
    background-color: #fbfbfb;
}

.input_section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 16px;
    width: 100%;
}

.output_section {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    row-gap: 16px;
    width: 100%;
}

.points_container {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.point_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4px;
}

.point_label {
    font-size: 1.2rem;
}

.point_value {
    padding: 4px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 4px;
}

.point_value:focus {
    border: none;
    outline: none;
}

.point_value::placeholder {
    color: red;
    font-style: italic;
    opacity: 0.35;
}

.point_value:focus::placeholder {
    color: transparent;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    column-gap: 14px;
}

.control_button {
    width: max-content;
    height: max-content;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.control_button:active {
    color: white;
}

.add_point_button {
    background-color: rgba(188, 228, 152, 0.5);
}

.add_point_button:hover {
    background-color: rgba(104, 156, 54, 0.5);
}

.add_point_button:active {
    background-color: rgba(104, 156, 54, 0.75);
}

.remove_point_button {
    background-color: rgba(228, 152, 152, 0.5);
}

.remove_point_button:hover {
    background-color: rgba(156, 54, 54, 0.5);
}

.remove_point_button:active {
    background-color: rgba(156, 54, 54, 0.75);
}

.calculate_points_button {
    background-color: #cbdeff;
}

.calculate_points_button:hover {
    background-color: #9fc2ff;
}

.calculate_points_button:active {
    background-color: #7eabfb;
}

.footer {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fffddb;
}
